@media only screen and (max-width: 778px) {
  #div-for-about {
    width: 85%;
    margin: auto;
    margin-top: 20px;
    /* border: 1px solid black; */
  }
  #div-for-about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 10px;
    /* background-color: rgb(91, 238, 115); */
  }
  .about-me-text {
    padding: 2px;
    text-align: center;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: rgb(110, 39, 39); */
  }
  #about-me-content {
    width: 100%;
    padding: 10px;
    line-height: 25px;
    font-size: 15px;
    background-color: white;
  }

  #motivation {
    font-family: cursive;
    margin-bottom: 20px;
    /* background-color: rgb(217, 230, 176); */
  }
  #div-for-skills {
    width: 100%;
    padding: 0 10px;
    /* background-color: rgb(211, 58, 58); */
    /* margin-top: 5px; */
  }
  #skills-text {
    width: 100%;
    padding: 5px 5px 5px 2px;
    font-size: 16px;
    /* background-color: rgb(170, 193, 236); */
  }
  #div-skills-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* background-color: rgb(154, 209, 24); */
  }
  #div-for-skills-images {
    width: 100%;
    padding: 5px 5px 0px 5px;
    /* background-color: hotpink; */
  }
  .skills-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
    /* background-color: darkgoldenrod; */
  }
  .div-per-img {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;
    padding: 5px;
    background-color: whitesmoke;
  }
  .hjrc {
    width: 24.4%;
  }

  .div-for-img-skills {
    width: 100%;
    background-color: white;
  }
  .js {
    padding: 7px 8px;
  }
  .react {
    padding: 8px 5px 0 5px;
  }
  .html {
    padding-top: 2px;
  }
  .mongo {
    padding: 10px 5px 0px 5px;
  }
  #Express {
    height: 100%;
  }
  .express {
    padding: 13px 10px;
  }
  .node {
    padding: 10px 10px 0px 10px;
  }
  .div-for-img-skills :hover {
    transform: scale(1.03);
  }
  .skill-img {
    width: 100%;
  }

  #div-for-skills-name {
    width: 50%;
    height: 25px;
    text-align: center;
    font-size: 15px;
    /* background-color: green; */
  }

  /* Education */
  #div-for-education {
    width: 100%;
    padding: 10px 0px;
    /* background-color: rgb(43, 36, 128); */
  }
  #education-text {
    width: 100%;
    padding: 5px 5px 5px 2px;
    font-size: 16px;
    /* background-color: rgb(170, 193, 236); */
  }
  #div-education {
    width: 100%;
    padding: 10px 0px;
    margin-top: 10px;
    /* background-color: rgb(20, 92, 18); */
  }
  .name-of-school {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
    /* background-color: darkgoldenrod; */
    border-top: 1px solid whitesmoke;
  }
  .div-for-school-logo {
    width: 15%;
    /* padding: 2px; */
    /* background-color: rgb(223, 16, 16); */
  }
  .img-logo-of-school {
    width: 100%;
  }
  .name-of-school-text {
    width: 85%;
    padding: 5px;
    font-size: 14px;
    border-bottom: 1px solid whitesmoke;
    /* background-color: darkgreen; */
  }
  .course {
    width: 85%;
    padding: 2px 2px 2px 5px;
    font-size: 12px;
    /* background-color: darkmagenta; */
  }
}
