* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}
body {
  background: linear-gradient(to right, rgb(54, 69, 100), cornflowerblue);
}
#div-for-mini-container {
  width: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  box-shadow: 2px 5px 10px lightgray inset;
}
.mini-container {
  width: 100%;
  background-color: cornflowerblue;

  background: linear-gradient(to right, rgb(54, 69, 100), cornflowerblue);
}
#main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  background-color: lightgray;
  padding: 25px 10px;
}
#hamburger {
  width: 100%;
  padding: 5px 15px;
  text-align: right;
  /* box-shadow: 0px 0.5px 10px cornflowerblue inset; */
  /* background-color: whitesmoke; */
}
#hamburger-icon {
  font-size: 24px;
  cursor: pointer;
}
#div-for-menu-container {
  width: 30%;
  /* padding-right: 10px; */
  position: relative;
  text-align: center;
  right: -10px;
  /* background-color: teal; */
}
#div-for-menu {
  position: absolute;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 25px 45px 5px;
  border-radius: 0 0 0 100%;
  background-color: black;
  box-shadow: 0px 0.5px 10px white;
  font-size: 12px;
  text-transform: uppercase;
  top: 25px;
  right: 0;
}
#div-for-menu span {
  width: 100%;
  margin-bottom: 10px;
  text-align: right;
  cursor: pointer;
  font-size: 13px;
  color: white;
  /* background-color: turquoise; */
}
.div-for-name {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 15px 50px;
  text-align: center;
  /* background-color: brown; */
}
.div-for-img {
  /* background-color: rgb(100, 31, 212); */
  width: 50%;
  margin: auto;
}
#img-head {
  width: 100%;
}
#strong-name {
  width: 80%;
  /* background-color: yellow; */
  padding: 2px 0;
  border-bottom: 2px dotted black;
}
.div-for-location {
  width: 80%;
  padding: 10px;
  text-align: left;
  margin-top: 10px;
  /* background-color: rgb(153, 165, 42); */
}
.div-for-github {
  width: 80%;
  padding: 10px;
  text-align: left;
  /* background-color: rgb(153, 165, 42); */
}
.icon {
  font-size: 24px;
}
.div-for-bottom-style {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  padding: 5px;
  /* background-color: burlywood; */
}
.vertical {
  height: 50px;
  width: 4px;
  border-radius: 10px 10px 0 0;
  /* background-color: lightgray; */
}
.horizontal {
  height: 4px;
  width: 50px;
  border-radius: 0 10px 10px 0;
  /* background-color: lightgray; */
}
.div-for-vertical {
  width: 5%;
  height: 100px;
  padding: 10px;
  text-align: left;
  display: inline-block;

  background-color: rgb(153, 165, 42);
}

.div-for-horizontal {
  padding: 20px;
  width: 100px;
  text-align: center;
  display: inline-block;
  background-color: rgb(21, 28, 126);
}
