* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  text-decoration: none;
  color: gray;
}

body {
  background-color: white;
}

#center-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
}
.text-container {
  width: 100%;
  text-align: right;
  /* background-color: grey; */
}
.hello {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: right;
}
.world {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: right;
}

#hello {
  width: 55%;
  padding: 10px 0px 10px 10px;
  font-size: 10vw;
  font-family: monospace;
  letter-spacing: 1vw;
  text-align: right;
  color: darkgray;
  /* background-color: green; */
}

#world {
  width: 55%;
  padding: 0px 0px 15px 0px;
  font-size: 10vw;
  font-family: cursive;
  font-weight: bolder;
  text-align: left;
  letter-spacing: -1px;
  color: gray;
  /* background-color: blue; */
}

#jamil {
  padding: 5px 20px;
  border-radius: 50px;
  /* position: absolute;
  bottom: -60px;
  right: 0;
  color: gray;
  border: 5px solid lightgrey; */
  box-shadow: 1px 1px 5px rgb(39, 38, 38) inset;
  /* background-color: dimgray; */
}
@media only screen and (min-width: 992px) {
  #center-container {
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 20px;
    /* background-color: rgb(238, 18, 18); */
  }
  #hello {
    width: 55%;
    padding: 10px 0px 10px 10px;
    font-size: 7vw;
    font-family: monospace;
    text-align: right;
    color: darkgray;
    /* background-color: green; */
  }

  #world {
    width: 55%;
    padding: 0px 0px 15px 0px;
    font-size: 7vw;
    font-family: cursive;
    font-weight: bolder;
    text-align: left;
    letter-spacing: -1px;
    color: gray;
    /* background-color: blue; */
  }
}
