@media only screen and (max-width: 778px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .anchor {
    color: black;
    text-decoration: none;
    font-size: 14px;
  }
  .anchor:hover {
    text-decoration: none;
  }
  body {
    background: white;
  }
  #div-for-main-container-project {
    width: 85%;
    padding: 2px;
    margin: auto;
    margin-top: 20px;
    /* border: 1px solid black; */
    background-color: white;
  }
  #project-container {
    width: 100%;
    padding: 10px;
    /* background: rgb(218, 64, 64); */
  }

  #project-text {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    /* background-color: lightgreen; */
  }

  #div-for-project {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-self: baseline;
    /* background-color: rgb(180, 48, 48); */
  }

  #div-for-project img:hover {
    transform: skewY(-1deg);
  }
  #buddy-shop,
  #blackjack,
  #buddyz-travel {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 30px;
    /* background-color: rgb(30, 17, 138); */
  }
  #blackjack {
    padding: 15px 0px 0px;
  }

  #blackjack-text,
  #buddyz-travel-text {
    width: 100%;
    text-align: right;
    padding-right: 10px;
  }
  .a-for-img-project {
    width: 50%;
    text-align: left;
    /* background-color: brown; */
  }
  #div-for-project img {
    /*images ng projects*/
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid lightgray;
    background-color: white;
  }

  #div-for-buddy-shop-text {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
    /* background-color: whitesmoke; */
  }
  #buddy-shop-text {
    width: 100%;
    padding: 10px 0px;
    text-align: left;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: rgb(58, 212, 212); */
  }
  .project-description {
    width: 100%;
    text-align: left;
    font-family: cursive;
    font-size: 11px;
    /* background-color: green; */
  }
  /* HOMEWORKS */
  #homework-text {
    width: 100%;
    padding: 5px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 0px 10px 0px;
    /* background-color: lightpink; */
  }
  #div-for-homeworks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 5px;
    /* background-color: rgb(138, 17, 17); */
  }

  .div-per-homework {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    /* background-color: rgb(171, 226, 17); */
  }
  .a-for-img {
    width: 50%;
    text-align: right;
    /* background-color: brown; */
  }

  .img-hw {
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    border: 5px solid lightgray;
    background-color: white;
  }
  .img-hw :hover {
    transform: skewY(-1deg);
  }
  .div-for-hw-description {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding: 10px;
    font-family: cursive;
    /* background-color: rgb(26, 96, 136); */
  }
  .homework-title-text {
    width: 100%;
    text-align: left;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 0;
    /* background-color: rgb(26, 96, 136); */
  }
  .hw-description {
    width: 100%;
    text-align: left;
    font-size: 10px;
    padding: 5px 0;
    /* background-color: rgb(66, 77, 22); */
  }
}
