#up-nav {
  width: 100%;
  padding: 5px;
  position: sticky;
  top: 0px;
  z-index: 20;
  text-align: right;
  box-shadow: 0 1px 2px lightgray;
  background: #ecbdc6;
}
a {
  text-decoration: none;
  color: #db94a1;
}
.resume-text {
  color: #db94a1;
}
#menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  text-align: right;
  /* background-color: blueviolet; */
}
#hamburger-container {
  width: 50%;
  text-align: left;
  /* background-color: thistle; */
}
#hamburger-icon {
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  color: whitesmoke;
}
#div-for-portfolio {
  width: 50%;
  padding: 5px 10px 5px 0px;
  /* background-color: brown; */
}
#portfolio-text {
  font-family: monospace;
  font-weight: bolder;
  font-size: 16px;
  letter-spacing: -1px;
  color: whitesmoke;
}
#span-container {
  padding: 5px;
  display: none;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* background-color: violet; */
}
#menu span {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
}
#hamburger span:hover {
  box-shadow: 0 1px 5px gray inset;
}

/* menu on phone */
#div-for-menu-container {
  /* display: none; */
  width: 65%;
  min-height: 100vh;
  position: absolute;
  left: 0;
  z-index: 10;
  padding: 10px 10px 10px 0;
  visibility: hidden;
  background-color: #fae0e4;
}
#div-for-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: wheat; */
}
#strong-name {
  width: 100%;
  font-size: 13px;
  margin-bottom: 5px;
  padding: 5px 5px 5px 15px;
  color: whitesmoke;
  /* background-color: whitesmoke; */
  /* border-bottom: 1px solid whitesmoke; */
}
.div-for-location {
  width: 100%;
  font-size: 12px;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 0 30px 30px 0;
  color: #db94a1;
  background-color: #f8e8eb;
}
.div-for-location:hover {
  background-color: #ecbdc6;
}

#span-container-life-side {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  padding: 2.5px 5px 2.5px 15px;
  margin-top: 20px;
  /* border: 1px solid gray; */
  /* background-color: violet; */
}
#home,
#about,
#project,
#contact {
  width: 47%;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  padding: 10px 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  margin: 5px 0;
  background-color: #f8e8eb;
}
#home:hover,
#about:hover,
#project:hover,
#contact:hover {
  background-color: #ecbdc6;
}

/* tablet layout */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #up-nav {
    width: 100%;
    padding: 10px;
    position: sticky;
    top: 0px;
    z-index: 20;
    text-align: right;
    box-shadow: 0 1px 2px lightgray;
    background: whitesmoke;
  }

  #menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    text-align: right;
    background-color: blueviolet;
  }
  #hamburger-container {
    width: 50%;
    text-align: left;
    /* background-color: thistle; */
  }
  #hamburger-icon {
    font-size: 35px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    color: gray;
  }
  #div-for-portfolio {
    width: 50%;
    padding: 10px 15px 10px 0px;
    background-color: brown;
  }
  #portfolio-text {
    font-family: monospace;
    font-weight: bolder;
    font-size: 35px;
    letter-spacing: -1px;
    color: gray;
  }

  /* menu on phone */
  #div-for-menu-container {
    /* display: none; */
    width: 45%;
    min-height: 100vh;
    position: absolute;
    left: 0;
    /* top: 60px; */
    z-index: 10;
    padding: 10px;
    visibility: hidden;
    background-color: lightgray;
  }
  #div-for-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: wheat; */
  }
  #strong-name {
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 5px;
    background-color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
  }
  .div-for-location {
    width: 100%;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: whitesmoke;
  }

  #span-container-life-side {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-top: 20px;
    border: 1px solid gray;
    background-color: violet;
  }
  #home,
  #about,
  #project,
  #contact {
    width: 47%;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding: 10px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px solid gray; */
    background-color: whitesmoke;
  }
}
@media only screen and (min-width: 992px) {
  #div-for-portfolio {
    display: none;
  }
  #hamburger-container {
    display: none;
  }
  #span-container {
    display: block;
  }
  #div-for-menu-container {
    display: none;
  }
}
