* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.div-for-contact {
  width: 100%;
  position: relative;
  background-color: #bfb8da;
}

.div-contact {
  width: 100%;
  padding: 30px 10px;
  background-color: #bfb8da;
}
.div-contact span {
  font-size: 12px;
}
.p-contact-text {
  text-align: center;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 10px;
}
.fas {
  font-size: 14px;
  color: gray;
}
.location,
.email,
.contact,
.resume {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid gray;
  /* background-color: violet; */
}

.fa-download {
  cursor: pointer;
}

/* social */
#groups {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  padding: 5px 0px 10px;
  margin-top: 5px;
}
#div-github,
#div-linkedin,
#div-fb {
  width: 25px;
  height: 25px;
  overflow: hidden;
  text-align: center;
  border-radius: 3px;
  background-color: white;
}
#div-linkedin {
  margin: 0 8px;
}
#img-github,
#img-linkedin,
#img-fb {
  display: block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 25px;
  cursor: pointer;
}
#img-github {
  color: darkblue;
}
#img-linkedin {
  color: blue;
}
#img-fb {
  color: rgb(18, 66, 199);
}
footer {
  padding: 0 50px 20px 50px;
  text-align: center;
  color: gray;
  background-color: #bfb8da;
}
footer p {
  font-size: 13px;
  color: black;
}
/* tab */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .div-for-contact {
    width: 100%;
    position: relative;
    padding-top: 50px;
    background-color: #bfb8da;
  }

  .div-contact {
    width: 70%;
    margin: auto;
    padding: 30px 10px;
    background-color: white;
  }
  .div-contact span {
    font-size: 18px;
  }
  .p-contact-text {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .fas {
    font-size: 18px;
    color: gray;
  }
  .location,
  .email,
  .contact,
  .resume {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid gray;
  }

  .fa-download {
    cursor: pointer;
  }

  /* social */
  #groups {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    padding: 15px 0px 10px;
    margin-top: 5px;
  }

  #div-github,
  #div-linkedin,
  #div-fb {
    width: 35px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    border-radius: 3px;
    background-color: white;
  }
  #img-github,
  #img-linkedin,
  #img-fb {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 35px;
    cursor: pointer;
  }

  footer {
    padding: 50px;
    text-align: center;
    background-color: #bfb8da;
  }
  footer p {
    font-size: 17px;
    color: black;
  }
}

@media only screen and (min-width: 991px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .div-for-contact {
    width: 100%;
    padding-top: 50px;
    background-color: #bfb8da;
  }

  .div-contact {
    width: 50%;
    margin: auto;
    padding: 30px 10px 50px;
    background-color: white;
  }
  .div-contact span {
    font-size: 16px;
  }
  .p-contact-text {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .fas {
    font-size: 15px;
    color: gray;
  }
  .location,
  .email,
  .resume,
  .contact {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid lightgray;
  }

  .fa-download {
    cursor: pointer;
  }

  /* social */
  #groups {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    padding: 15px 0px 10px;
    margin-top: 5px;
  }

  #div-github,
  #div-linkedin,
  #div-fb {
    width: 35px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    border-radius: 3px;
    background-color: white;
  }
  #img-github,
  #img-linkedin,
  #img-fb {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 35px;
    cursor: pointer;
  }

  footer {
    padding: 50px;
    text-align: center;
    background-color: #bfb8da;
  }
  footer p {
    font-size: 15px;
    color: black;
  }
}
